* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    background-color: gray;
}
/* header  */
#header { 
    padding: 10px 0;
    margin: auto;
    width: 100%;
    overflow: hidden;
    align-content: center;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
    }

h1 {
      float: left; 
      color: white;
      padding: 10px 12px;
      margin-left: 0;
      background-color: red;
   }
#nav{
    overflow: hidden;
    list-style-type: none;
    margin-left:auto;
    margin-right: auto;
    width: 960px;
    padding: 0;
    background-color: black;
}

li {
   float: right;
   border-left: 2px solid white;  
}
li a{
    display: block;
    color:white;  
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}
li:last-child{
    border-right: none;
}
li a:hover{
    background-color: red;
}
/* body */
#container {
    min-height: 100%;
    padding: 5%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 960px;
    height: 300px;
}
/* footer */
#footer {
    background-color: black;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: white;
    height: 50px;
    margin-top: -50px;
    clear: both;
    color: white;
}
h6 {
    text-align: center;
}
