* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    background-color: #e6e6e6;
}
/* header  */
#header { 
    padding: 10px 0;
    margin: auto;
    width: 100%;
    overflow: hidden;
    align-content: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 5px;
    }
.name{
        height: 40px;
        position: absolute;
        margin-left: 180px;
        float: left;
    
    }
h1 {
      float: left; 
      color: #ffffff;
      padding: 10px 12px;
      margin-left: 0;
      background-color:#4aaaa5;
   }
#nav{
    overflow: hidden;
    list-style-type: none;
    margin-left:auto;
    margin-right: auto;
    width: 960px;
    padding: 0;
    background-color: white;
}

li {
   float: right;
   border-left: 2px solid grey;  
}
li a{
    display: block;
    color:rgb(99, 97, 97);  
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}
li:last-child{
    border-right: none;
}
li a:hover{
    background-color: red;
}
/* body */
#container {
    min-height: 100%;
    padding: 5%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 960px;
    height: 300px;
}
/* footer */
#footer {
    background-color: black;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: white;
    height: 50px;
    margin-top: -50px;
    clear: both;
    color: white;
}
h6 {
    text-align: center;
}
